#tw-intro {
    min-height: 100vh;
    display: flex;
}

/* immediate children divs */
#tw-intro > * {
    flex: 1;
    
}
/* For the image container */
#tw-intro .image {
    background-color: dodgerblue;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tw-intro .image svg {
    fill: #fff;
    width: 65%;

}


/* For the call to action */
#tw-intro .cta  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #0f1419;
    padding: 20px 5%;
}

#tw-intro .cta svg {
    fill: dodgerblue;
    width: 30px;
    margin: 30px 0;
}

#tw-intro .cta h1 {
    font-size: 64px;
    margin: 20px 0 10px;
    padding-right: 10%;

}

#tw-intro .cta h3 {
    font-size: 31px;
    margin: 20px 0 10px;
}

#tw-intro .cta .links {
    width: 100%;
}

#tw-intro .cta .links a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
    width: 380px;
    max-width: 100%;
    height: 48px;
    border-radius: 50px;
    border: 2px solid dodgerblue;
    margin: 10px 0;
}

#tw-intro .cta .links a#sign-up-link {
    color: #fff;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

#tw-intro .cta .links a#sign-up-link:hover {
    background-color: #2b83db;
}

#tw-intro .cta .links a#login-link:hover {
    background-color: #dcecf8;
}